In [10]:
###STRING
str=['one', 'two', 'three']
print(", ".join(str))
print("Python is amazing. wow!".replace ("amazing", "astonishing"))
print("Python3 is exceeding broad".startswith("Python3"))
print("Python3 is exceeding broad".endswith("exceeding"))
print("we can even change all lower cases to upper cases".upper())
print("WHO SAYS WE CANNOT CHANNGE ALL UPPER CASES TO LOWER CASES TOO?".lower())
print("python, is ever cool".split(", "))

##join() and split() are a little tricky but very important. 
# join takes two or more separate strings and merges them. split does the exact opossite

one, two, three
Python is astonishing. wow!
True
False
WE CAN EVEN CHANGE ALL LOWER CASES TO UPPER CASES
who says we cannot channge all upper cases to lower cases too?
['python', 'is ever cool']

In [7]:
str=["one", "two", "three", "four"]
strr="one two three four"

print("\n".join(str))## means join the list called str and separate each item with new line

print (strr.split())## means split strr where there there are spaces.
print("mangosbananasplumsguavas".split('s')) ##split at every letter s

one
two
three
four
['one', 'two', 'three', 'four']
['mango', 'banana', 'plum', 'guava', '']

In [13]:
###NUMERIC
#we will consider 3 functions here; max(), min(), abs() for maximum, minimum and absolute value respectively
nums=list(range(-5,11)) # list from -5 to 10
print(max(nums))
print(min(nums))
print(abs(nums[3])) # index 3 is -2. so abs() returns the absolute value of -2 which is it's positive

10
-5
2

In [16]:
###LIST
# 'all' and 'any' conditional statements and the enumearatte function

nums=list(range(1,11))
if all (i>5 for i in nums):
    print('all values in the list are greater than 5')
if any (i%2==0 for i in nums):
    print('at least one value is even')
for v in enumerate(nums): ##enumerae iterates through values and indices of a list simultaneously.
    print (v)

at least one value is even
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)